#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
#日志输出配置，所有日志都记录在本机，通过local0输出
    log 127.0.0.1 local0	

#定义日志级别[error warring info debug]
    log 127.0.0.1 local1 notice

#默认最大连接数,需考虑ulimit-n限制
    maxconn     4000

#后台运行
    daemon

#修改haproxy的工作目录
    #user        haproxy
    #group       haproxy
    #chroot      /var/lib/haproxy
    #pidfile     /var/run/haproxy.pid
    #stats socket /var/lib/haproxy/stats


#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
#默认工作模式
    mode                    http

#使用全局日志
    log                     global

#日志类别
    option                  httplog

#不记录空日志信息
    option                  dontlognull

#支持客户端长连接
    option http-server-close

#将客户请求发送到后端的时候,加一个首部,记录客户IP,但是除去自己
    option forwardfor       except 127.0.0.0/8

#当分发给客户的一个服务器故障的时候,重新分发给其他服务器
    option                  redispatch

#重试次数
    retries                 3

#请求超时
    timeout http-request    10s

#队列超时
    timeout queue           1m

#连接超时
    timeout connect         10s

#客户端超时
    timeout client          1m

#服务器超时
    timeout server          1m

#长连接超时
    timeout http-keep-alive 10s

#心跳检测超时
    timeout check           10s

#最大连接数
    maxconn                 3000


#---------------------------------------------------------------------
# kubernetes apiserver frontend which proxys to the backends
#---------------------------------------------------------------------
frontend kube-api-https
    mode                 tcp
    bind                 *:6444
    option               tcplog
    default_backend      kube-api-server


#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend kube-api-server
    mode        tcp
    balance     roundrobin
    server      k8s-master01 192.168.17.128:6443 check
    server      k8s-master02 192.168.17.129:6443 check
    server      k8s-master03 192.168.17.130:6443 check


#---------------------------------------------------------------------
# collection haproxy statistics message
#---------------------------------------------------------------------
listen stats
    bind                 *:6445

#开启统计页面[IP:PORT/haproxy?stats]
    stats enable

#更改uri地址[IP:PORT/stats]
    stats uri            /stats

#定义认证账户和密码
    stats auth           admin:admin

#自动刷新时间间隔
    stats refresh        5s
